*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #E5E5E5;
}

.myauto_logo{
    position: absolute;
    width: 161px;
    height: 46px;
    margin-left: 435px;
    margin-top: 17px;
}

.heading2{
    color: red;
    display: flex;
    position: absolute;
    width: 197.6px;
    height: 16px;
    margin-left: 435px;
    margin-top: 112px;     
}


.header_container{
    position: absolute;
width: 2080px;
height: 80px;
left: 0px;
top: 0px;
background-size: cover;

background: #FFFFFF;
}

.searching_box{
    position: absolute;
    background-color: #FFFFFF;
    border:1px solid #e2e5eb;
    box-shadow: 0px 4px 16px rgba(164, 174, 193, 0.1);
    border-radius: 12px 12px 0px 0px;
    width: 250px;
    height: 520px;
    margin-left: 435px ;
    margin-top: 148px;
}

.rec1{
    background: #FD4100;
    width: 83px;
    height: 1px;
    margin-top: 48px;
    position: absolute;
}
.rec2{
    position: absolute;
    width: 1px;
    height: 47px;
    margin-left: 83px;
    background: #E9E9F0;
}
.rec3{
    position: absolute;
    width: 1px;
    height: 47px;
    margin-left: 166px;
    background: #E9E9F0;
}
.rec4{
    position: absolute;
    width: 250px;
    height: 1px;
    margin-top: 315px;
    margin-bottom: 204px;
    background: #E9E9F0;

}

.cariconbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9px 16px;
    gap: 10px;
    position: absolute;
    width: 62px;
    height: 32px;
    margin-left: 11px;
    margin-top: 8px;
    border-radius: 100px;
    
}
.motoiconbox{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 20px;
gap: 10px;

position: absolute;
width: 62px;
height: 32px;
margin-left: 177px;
margin-top: 8px;

border-radius: 100px;
}

.motoicon{
    
}
.tractoriconbox{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 7px 20px;
gap: 10px;
position: absolute;
width: 62px;
height: 32px;
margin-left: 94px;
margin-top: 7px;

border-radius: 100px;
}
.searchfooter{
    background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(39, 42, 55, 0.13);
    width: 248px;
    height: 68px;
    margin-top: 452px ;

}


.column1{
    position: absolute;
width: 166px;
height: 48px;
margin-left: 83px;


background: #F9F9FB;
border-radius: 0px 11px 0px 0px;
}


.car_fullbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 780px;
    height: 1305px;
    margin-left: 705px;
    margin-top: 148px;

}

.gancxadebebis-cifrebi{
    color: #272A37;
    position: absolute;
    width: 150px;
    height: 20px;
    margin-top: 12px;


}
.car_box1{
    position: absolute;
    background: #FFFFFF;
    border-radius: 14px;
    margin-top: 56px;
    margin-bottom: 1077px;
    width: 780px;
    height: 172px;
}
.car_box2{
    position: absolute;
    background: #FFFFFF;
    border-radius: 14px;
    margin-top: 238px;
    margin-bottom: 895px;
    width: 780px;
    height: 172px;
}
.car_box3{
    position: absolute;
    background: #59d8c9;
    border-radius: 14px;
    margin-top: 420px;
    margin-bottom: 668px;
    width: 780px;
    height: 217px;
    background: #F0F9F7;
    border: 1px solid #59D8C9;
    border-radius: 14px;
}
.car_box4{
    position: absolute;
    background: #FFFFFF;
    border-radius: 14px;
    margin-top: 647px;
    margin-bottom: 425px;
    width: 780px;
    height: 233px;
    background: #FFFFFF;
    border-radius: 14px;
}

.car_box5{
    position: absolute;
    background: #FFFFFF;
    border-radius: 14px;
    margin-top: 890px;
    margin-bottom: 243px;
    width: 780px;
    height: 172px;
    background: #FFFFFF;
    border-radius: 14px;
}
.car_box6{
    position: absolute;
    background: #FFFFFF;
    border-radius: 14px;
    margin-top: 1072px;
    width: 780px;
    height: 233px;
    background: #FFFFFF;
    border-radius: 14px;
}


